@charset "UTF-8";

body{
    min-width: 1080px;
}

.home{
    width:100%;
    height:520px;
    background-image: url("../img/my_photo.png");
    background-repeat: no-repeat;
    background-size: 480px;
    background-position: 80% 100%;
    background-color:silver;
}
/*  ヘッダー    */
#header{
    width:100%;
    height:50px;
}

ol.top-nav{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

.top-nav__btn{
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
}
.top-nav__btn p{
    font-size: 12px;
}

.top-nav__link img{  
    width:30px;
    margin-top: 4px;

}

/*  ホーム  */
.home__name{
    width:50%;
    height:470px;
    text-align: left;
    padding-top: 32px;
    padding-left: 96px;
    color:white;
}

h2{
    font-size: 96px;
    padding-bottom: 16px;
}

.home__name .japanese{
    font-size: 32px;
}

h3{

    
    font-size: 32px;
}

.top-nav__link__img-pc{
    display:inline;
}
.top-nav__link__img-sp{
    display: none;
}
.top-nav__btn{
    color:black;
}

/*  About   */
#about{
    width:100%;
    height:400px;
    background-image: url("../img/laptop-img-2.png");
    background-position: 560px -40px;
    background-size:720px;
    background-repeat: no-repeat;
}

.about__text{
    margin-left: 40px;
    width:560px;
}

.about__text-title{
    font-size: 32px;
    margin: 0px 0 24px;
    padding-top: 48px;
}

.about__text-list{
    font-size: 18px;
    margin: 16px 0 16px;
}

.about__text-item{
    font-size: 16px;
    margin: 16px 0px 16px;
}

.about__text-email{
    font-size: 16px;
    margin: 16px 0 16px;
}

.about__text-sns{
    display: flex;
}

.sns-icon{
    margin-top: 16px;
    margin-right: 32px;
}

/*  project */
#project{
    display: block;
    width: 100%;
    height:1080px
}

.project-gray{
    width: 100%;
    height: 540px;
    background:radial-gradient(silver ,gray);
    color:white;
}

.project__title{
    color:white;
    font-size: 32px;
    padding-top: 40px;
    margin-bottom: 24px;
    margin-left: 40px;
}

.project__content{
    margin: 0px 40px 0px 40px;
    display: flex;
}

.project__content img{
    width:480px;
    margin-right: 40px;
}

.project__text-title-sp{
    display:none;
}

.project__text-title-pc{
    padding-top: 40px;
    font-size: 20px;
    margin-bottom: 24px;
}

.project__text-note{
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 24px;
}
.project__text-note span{
    display: none;
}


.project__text-test{
    font-size:18px;
    margin-bottom: 18px;
}

.project__text-email{
    font-size: 14px;
    margin-bottom: 18px;
}

.project__text-pass{
    font-size: 14px;
    margin-bottom: 18px;
}

.project__text-button{
    display: flex;
}


.project__button{
    width:80px;
    height:32px;
    font-size: 12px;
    text-align: center;
    margin-right: 24px;
    padding-top: 8px;
    border-style: solid;
    border-width: 1px;
}

.button-white{
    border-color: gray;
    color :gray;
    background-color: white;
}

.button-gray{
    background-color: gray;
    color:white;
}


.project-white{
    width: 100%;
    height: 540px;
    background-color:white;
    color: gray;
}

/* フッター */
footer{
    width:100%;
    height:180px;
    background-color: rgb(33, 33, 33);
    color:white;
}

.contact{
    margin-left: 40px;
    font-size: 12px;
}

.contact__title{
    padding-top: 48px;
    margin-bottom: 12px;
    font-size: 24px;
}

.contact img{
    width:16px;
    margin-right: 8px;
}

.contact__phone{
    margin: 8px 0px 8px;
}

.contact__mail{
    margin: 16px 0px 40px;
}

.copy{
    text-align: center;
    width:100%;
    height:38px;
    background-color: gray;
    padding-top: 12px;
    font-size: 8px;
}

/* レスポンシブ対応 */

@media screen and (max-width: 767px) {

    body{
        min-width:100%;
    }

    h2{
        font-size: 64px;
    }

    .home__name .japanese{
        font-size: 20px;
    }

    h3{
        font-size: 20px;
    }

    .top-nav__btn{
        background-color: unset;
        color:white;
    }

    .top-nav__link__img-pc{
        display: none;
    }
    .top-nav__link__img-sp{
        display: inline;
    }

    .home{
        width:100%;
        height:720px;
        background:url("../img/my_photo.png"),radial-gradient(silver ,gray);
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: bottom center;
        color:white;
    }

    .home__name{
        width:100%;
        text-align: center;
        padding-left: 0px;
    }

    #about{
        width: 100%;
        text-align: center;
        background-image:unset;

    }
    .about__text{
        width:100%;
        margin: 0px;
    }
    .about__text-title{
        font-size: 24px;
    }

    .about__text-list{
        width:90%;
        margin: 0 auto;
        line-height: 2.5;
        font-size: 12px;

    }

    .about__text-item{
        width:86%;
        margin: 12px auto 20px;
        font-size: 12px;
        line-height: 1.5;
    }

    .about__text-email{
        font-size: 12px;
    }

    .about__text-sns{
        justify-content: center;
    }

    .sns-icon{
        margin: 24px;
    }
    .sns-icon img{
        width:36px;
    }

    #project{
        text-align: center;
        height: 1300px;
    }
    .project-gray{
        height: 680px;
    }
    .project-white{
        height: 680px;
    }

    .project__title{
        margin-left: 0px;
        padding-top: 20px;
        font-size: 24px;
    }
    .project__content{
        display: block;
        margin: 0px 30px 0px;
    }

    .project__content img{
        margin: 0;
        width :100%;
        margin-top: 20px 0;

    }
    .project__text-title-pc{
        display: none;
    }
    .project__text-title-sp{
        margin: 24px auto 16px;
        display:block;
        font-size: 18px;
    }
        
    .project__text-note{
        font-size: 14px;
        line-height: 1.5;
        margin-top:24px;
        margin-bottom: 24px;
    }
    .project__text-note span{
        display: contents;
    }

    .project__text-button{
        justify-content: center;
    }

    .project__button{
        margin: 0 20px 30px;
    }

    footer{
        height:180px;
        text-align: center;
    }
    
    .contact{
        margin-left: 0px;
    }
    .contact__title{
        padding-top: 24px;
    }
    .copy{
        height:72px;
        padding-top: 24px;
        font-size: 16px;
    }



}